# ignore model files
Jetson Environment Setup and Model Integration/Face-Detection-Module-For-jetson/models/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_eye_gaze/models/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_head_pose/models/
Jetson Environment Setup and Model Integration/System/models/


# ignore build directory
Jetson Environment Setup and Model Integration/Face-Detection-Module-For-jetson/build/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_eye_gaze/build/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_head_pose/build/
Jetson Environment Setup and Model Integration/System/build/

# ignore data directory 
Jetson Environment Setup and Model Integration/Face-Detection-Module-For-jetson/data/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_eye_gaze/data/
Jetson Environment Setup and Model Integration/Face-Detection-Module_with_head_pose/data/
Jetson Environment Setup and Model Integration/System/data/


